ENV_STATE= # prod, dev, test

# specify database connection url per environment state
PROD_DATABASE_URL=
DEV_DATABASE_URL=
TEST_DATABASE_URL=

# specify if db should rollback
PROD_DATABASE_FORCE_ROLLBACK=
DEV_DATABASE_FORCE_ROLLBACK=
TEST_DATABASE_FORCE_ROLLBACK=

# specify log file location
PROD_LOG_FILE=
DEV_LOG_FILE=
TEST_LOG_FILE=
